* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.button-group:after {
	content: '';
	display: block;
	clear: both;
}

.grid {
	margin: 0 -5px;
}


/* Clear floats after the columns */

.grid:after {
	content: '';
	display: block;
	clear: both;
}


/* Float 2 columns side by side */

.grid-item {
	float: left;
	position: relative;
	width: 47%;
	padding: 10px 10px 10px 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	text-align: left;
	background-color: #ffffff;
	min-height: 300px;
	margin: 10px 10px 10px 10px;
}

.grid-item>* {
	margin: 0px;
	padding: 10px 10px;
}


/* Remove extra left and right margins, due to padding */


/* Responsive columns */

@media screen and (max-width: 600px) {
	.column {
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
	.grid-item {
		width: 95%;
		min-height: 0px;
	}
	#header {
		min-height: 200px;
	}
}


/* Card Layout */

#header {
	position: relative;
	min-height: 300px;
}

#header-content {
	position: absolute;
	bottom: 0;
	left: 15px;
}

.gcweb-menu {
	min-height: 0px;
}

div.tip {
	background-color: #eaeaea;
	background-color: #eaeaea;
	padding-left: 10px;
	border-left-color: #26374a;
	border-left-width: 5px;
	border-left-style: solid;
}

 on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
